{{- if eq .chezmoi.hostname "archmadao" }}
preload = ~/Pictures/Wallpapers/114310694_p0.jpg
preload = ~/Pictures/Wallpapers/116028081_p0.jpg
wallpaper = DP-1,~/Pictures/Wallpapers/114310694_p0.jpg
wallpaper = HDMI-A-1,~/Pictures/Wallpapers/116028081_p0.jpg
{{- end }}
{{- if eq .chezmoi.hostname "yuniverse" }}
preload = ~/Pictures/Wallpapers/114310694_p0.jpg
wallpaper = eDP-1,~/Pictures/Wallpapers/114310694_p0.jpg
{{- end }}

splash = true
